body{
  max-width: 960px;
  margin: auto;
  color: white;
  background: black;
  font-family: Garamond, serif;
}

/*  -------------------
*    DIV MODIFICATIONS
*   -------------------
*/ 


.row:first-child {
  margin: 20px 0 0 0;
}

#logo-and-nav {
  display:table;
}

#main-nav {
  display: table-cell;
  vertical-align: bottom;
}

#welcome-img {
  padding: 10px 0;
}

#welcome-message {
  padding: 10px 0 10px 16px;
}

#articles-and-sidebar {
  color: black;
  background-color: white;

}

#articles, #sidebar {
  padding-top:10px;
  padding-left: 16px;
}

.text-box {
  margin-top: 10px;
}

#sponsors-row {
  padding: 20px 0px 20px 16px;
}

#sponsor-logos {
  margin: auto;
}

#sidebar {
    background: grey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e7e7e7, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e7e7e7, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e7e7e7, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e7e7e7, #fff); /* Standard syntax (must be last) */
}

#site-footer {
  color: #6f6e6e;
  padding: 20px 0 40px 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*  ------------------
*     TYPOGRAPHY
*   ------------------
*/ 

h1 {
  font-size: 32px;
  color: #a3a3a3;
}

h2 {
  font-size: 24px;
}

#site-footer h2 {
  color: white;
}

p {
  font-size: 14px;
}

.date-link {
  font-size: 10px;
  color: dodgerblue;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.2);
}

a.page-link {
  padding: 0;
  background-color: inherit;
}

a.page-link:hover {
  background-color: inherit;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.nav li {
  font-size: 12px;
  font-weight: 800;
  padding: 0 8px;
}



.btn {
  color: #a3a3a3;
  background-color: #eee;
  font-size: 10px;
  padding: 4px 8px 2px 8px;
  border-radius: 0px;
}

.btn:hover {
  color: white;
  background-color: #c1c1c1;
}

#first-btn {
  pointer-events: none;
}

.highlight-text {
  color: #a3a3a3;
  font-weight: 400;
}

.contact-list a {
  color: gray;
}

.contact-list a:visited {
  color: gray;
  text-decoration: none;
}

/*  ------------------
*   IMAGES
*   ------------------
*/

.thumbnail-crop {
  float: left;
  height: 148px;
  width: 148px;
  overflow: hidden;
  margin: 0 20px 0 0;
  border: 5px solid rgba(170, 170, 170, 0.2);
}

.img-crop {
  margin: -2px 0px 0px -74px;
}

.sponsor-thumbnail-box {
  float: left;
  height: 80px;
  width: 136px;
  overflow: hidden;
  margin: 5px 5px;
  border: 4px solid rgba(170, 170, 170, 0.1);
}

.center-logo {
margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*  ------------------
*   Extras
*   ------------------
*/

.form-control {
  border-radius: 20px;
  width: 120px;
  font-size: 9px;
  padding: 1px;
  margin: 0;
  float: right;

  background: white url(../img/magnifying-glass-icon-12.png) 4px 1px no-repeat;
  padding-left: 20px;
}

.blue-button{
border:1px solid #429cca; -webkit-border-radius: 2px; -moz-border-radius: 2px;border-radius: 2px;font-size:9px;font-family:arial, helvetica, sans-serif; padding: 4px 30px 4px 30px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #6EB3D6; background-image: -webkit-gradient(linear, left top, left bottom, from(#6EB3D6), to(#4681A0));
 background-image: -webkit-linear-gradient(top, #6EB3D6, #4681A0);
 background-image: -moz-linear-gradient(top, #6EB3D6, #4681A0);
 background-image: -ms-linear-gradient(top, #6EB3D6, #4681A0);
 background-image: -o-linear-gradient(top, #6EB3D6, #4681A0);
 background-image: linear-gradient(to bottom, #6EB3D6, #4681A0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6EB3D6, endColorstr=#4681A0);
}

.blue-button:hover{
 border:1px solid #3183ad;
 background-color: #469ecb; background-image: -webkit-gradient(linear, left top, left bottom, from(#469ecb), to(#36647d));
 background-image: -webkit-linear-gradient(top, #469ecb, #36647d);
 background-image: -moz-linear-gradient(top, #469ecb, #36647d);
 background-image: -ms-linear-gradient(top, #469ecb, #36647d);
 background-image: -o-linear-gradient(top, #469ecb, #36647d);
 background-image: linear-gradient(to bottom, #469ecb, #36647d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#469ecb, endColorstr=#36647d);